---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Starter",
    price: {
      monthly: "£2",
      annual: "£12",
      discount: "10%",
      original: "per month",
    },
    popular: false,
    features: [
      "Choose your colours",
      "Pick a templated logo",
      "Your own Pickleball Club Social URL",
      "Single page site",
      "Paid content updates (after go-live)",
      "Email support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Pro",
    price: {
      monthly: "£4",
      annual: "$16",
      discount: "10%",
      original: "per month",
    },
    popular: true,
    features: [
      "All Starter features",
      "Your own club logo",
      "Bespoke colours",
      "3 page site",
      "Free content updates",
      "Access to our Pro sections of content",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Bespoke",
    price: {
      monthly: "Custom",
      annual: "$16",
      discount: "10%",
      original: "Annually",
    },
    popular: false,
    features: [
      "All Pro features",
      "Mulitple page site",
      "Content management online",
      "Social media integrations",
      "Bespoke written copy",
      "Dynamic forms",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
