---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Choose your brand",
    description:
      "Pick your club colours, logo and website from our specially designed templates.",
    icon: "bx:bxs-palette",
  },
  {
    title: "Fill in our content form",
    description:
      "We'll work together to create the text and images for your webiste.",
    icon: "bx:bxs-layout",
  },
  {
    title: "Get your own domain",
    description:
      "You get your very own SEO-ready URL - yourclub.pickleballclub.social.",
    icon: "bx:bxs-mouse-alt",
  },
  {
    title: "SEO out-of-the-box",
    description:
      "We ensure your club website ranks as high as possible in Google and Social Media.",
    icon: "bx:bxs-search",
  },
  {
    title: "Expert design that works",
    description:
      "Founded by experienced designers and marketers, we know what works online.",
    icon: "bx:bxs-trophy",
  },
  {
    title: "Ad-hoc extras available",
    description:
      "Sometimes your club needs something more bespoke - we're here for you.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-3xl lg:text-4xl lg:tracking-tight">
    <span class="font-bold italic">Everything</span> you need to get your Pickleball club <span class="font-bold italic">online</span>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Fill in our simple form and let us do the rest.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
